# xcode noise
.mode1v3
.pbxuser
.perspective
.perspectivev3
*.pyc
*.swp
*~.nib/
build/*

# osx noise
.DS_Store
profile

# project specific
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

/DerivedData/

# for testServer
*.sublime-project
*.sublime-workspace
node_modules
